<% @flights.each do |flight| %>
  <section id="flight-<%= flight.id %>">
    Flight #<%= flight.id %> <br>
    Passengers:
    <ul>
      <% flight.passengers.each do |passenger| %>
        <div id="passenger-<%= passenger.id %>">
          <li><%= passenger.name %> - <%= link_to 'remove passenger', remove_passenger_from_flight_path(id: passenger.id, flight_id: flight.id), method: :delete %></li>
        </div>
      <% end %>
    </ul>
  </section>
<% end %>
